*{
    margin: 0; padding: 0;box-sizing: border-box;
}

header{
    width: 100%; height: 100vh;
    background-image:linear-gradient(#00000025,rgba(0, 0, 0, 0.007)), url('https://imgscf.slidemembers.com/docs/1/1/379/thank_you_page_slide_378338.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}